.button {
  border: none;
  padding: 0;
  height: 45px;
  width: 100%;
  font-size: 14px;
  line-height: 16.94px;
  background-color: #FF6838;
  color: white;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}
@media screen and (max-width:320px) {
  .button {
    font-size: 12px;
    line-height: 14.52px;
  }
}