.header__navigation {
  display: contents;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 63px;
  list-style: none;
  align-items: center;
}

.header__nav-link {
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 18px;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
.header__nav-link:hover{
  opacity: 0.7;
}
.header__nav-link_first {
  margin-right: 16px;
}

.header__link_path_main {
  color: white;
}

.header__nav-link_active {
  font-weight: 500;
}

.header__profile {
  width: 100px;
  height: 32px;
  background-color: #F9F9F9;
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.header__profile:hover{
  opacity: 0.8;
}
.header__button {
  border: none;
  padding: 0;
  background: none;
  line-height: 16px;
  background-image: url('../../../../images/icon-menu-black.svg');
  width: 44px;
  height: 44px;
  list-style: none;
  display: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header__button:hover{
  opacity: 0.8;
}
.header__button_path_main {
  background-image: url('../../../../images/icon-menu.svg');
}

@media screen and (max-width:768px) {
  .header__nav-link {
    display: none;
  }

  .header__profile {
    display: none;
  }

  .header__button {
    display: inline;
  }
}

@media screen and (max-width:320px) {
  .header__button {
    width: 40px;
    height: 43px;
  }
}