.promo {
  background-color: #465DFF;
  min-height: 524px;
  display: flex;
  background-image: url('../../images/promo-logo.svg');
  background-position: center top 82px;
  background-repeat: no-repeat;
  color: white;
}

.promo__title {
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 58px;
  margin: auto;
  padding-bottom: 40px;
  font-weight: 400;
  max-width: 730px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .promo {
    min-height: 784px;
    background-position: center top 224px;
  }

  .promo__title {
    margin-top: 326px;
  }
}

@media screen and (max-width:400px) {
  .promo {
    min-height: 570px;
    background-position: center top 142px;
    background-size: 248px;
  }

  .promo__title {
    margin-top: 207px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}