.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 35vh 0 8vh;
  box-sizing: border-box;
}

.page-not-found__title {
  margin: 0 0 5px;
  font-size: 140px;
  font-weight: 400;
  line-height: 169.43px;
}

.page-not-found__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
}

.page-not-found__button {
  margin:auto auto 0 auto;
  padding: 0;
  color: #FF6838;
  font-size: 14px;
  line-height: 16.94px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page-not-found__button:hover {
  opacity: 0.7;
}

@media screen and (max-width:768px) {
  .page-not-found {
    padding: 40vh 0 21vh;
  }
}

@media screen and (max-width:320px) {
  .page-not-found {
    padding: 42vh 0 4vh;
  }
  .page-not-found__title {
    margin-bottom:10px;
    font-size: 80px;
    line-height: 96.82px;
  }

  .page-not-found__subtitle {
    font-size: 12px;
    line-height: 14.52px;
  }

  .page-not-found__button {
    font-size: 12px;
    line-height: 14.52px;
  }
}