.search-form {
  max-width: 1140px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__form {
  margin-top: 60px;
  max-width: 1140px;
  width: 100%;
  position: relative;
}

.search-form__input {
  padding: 0;
  max-width: 1140px;
  width: 100%;
  height: 46px;
  background-color: #F9F9F9;
  border: none;
  border-radius: 40px;
  font-size: 13px;
  line-height: 17px;
  text-indent: 22px;
  outline: none;
  padding-right: 92px;
  box-sizing: border-box;
}

.search-form__button {
  width: 80px;
  height: 34px;
  border: none;
  background-color: #FF6838;
  border-radius: 40px;
  padding: 0;
  background-image: url('../../images/loop.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  right: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width:768px) {
  .search-form__form {
    margin-top: 77px;
  }
}

@media screen and (max-width:320px) {
  .search-form__form {
    max-width: 292px;
    width: 100%;
    margin-top: 78px;
  }
  .search-form__input {
    height: 46px;
    font-size: 11px;
    line-height: 17px;
    text-indent: 19px;
  }
  
}