.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.profile__title {
  margin: 74px 0 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
}
.profile__error{
  color: #FF004C;
  font-size: 11px;
  line-height: 13.31px;
  margin-bottom: 20px;
  height: 14px;
  text-align: center;
}
.profile__button {
  border: none;
  background-color: white;
  margin-top: 31px;
  font-size: 13px;
  line-height: 15.73px;
  /* max-width: 410px;
  width: 100%; */
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.profile__button:hover{
  opacity: 0.8;
}

.profile__button_type_exit {
  margin: 16px 0 70px;
  color: #EE3465;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (max-width:768px) {  
  .profile__title {
    margin: 236px 0 96px;
  }

  .profile__button {
    margin-top: 21px;
  }
  
  .profile__button_type_exit {
    margin: 16px 0 269px;
  }
}
@media screen and (max-width:320px) {  
  .profile__title {
    margin: 70px 0 80px;
  }
  
  .profile__form {
    max-width: 260px;
  }
  
  .profile__button {
    margin-top: 379px;
    font-size: 12px;
    line-height: 14.52px;
    max-width: 300px;
  }
  
  .profile__button_type_exit {
    margin: 16px 0 40px;
  }
}