.filter-checkbox {
  margin: 41px 0 69px;
  min-height: 20px;
  display: flex;
  align-items:flex-end;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__icon {
  width: 36px;
  height: 100%;
  background-color: #EBEBEB;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.filter-checkbox__icon:hover{
  opacity: 0.7;
}
.filter-checkbox__inner-icon {
  background-color: #F5F5F5;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 2px 0 2px 2px;
}

.filter-checkbox__span {
  font-size: 14px;
  line-height: 18px;
  margin-left: 12px;
  max-height: 18px;
  margin-bottom: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.filter-checkbox__span:hover{
  opacity: 0.7;
}
.filter-checkbox__input:checked+.filter-checkbox__icon {
  background-color: #2BE080;
}

.filter-checkbox__input:checked+.filter-checkbox__icon .filter-checkbox__inner-icon {
  transform: translateX(16px);
  transition: transform 0.2s ease-out;
  background-color: white;
}

.filter-checkbox__input:not(:checked)+.filter-checkbox__icon .filter-checkbox__inner-icon {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}

@media screen and (max-width:768px) {
  .filter-checkbox {
    margin-bottom: 50px;
    height: 20px;
    display: flex;
  }
}

@media screen and (max-width:320px) {
  .filter-checkbox {
    margin: 42px 0 50px;
    margin-bottom: 49px;
  }
  .filter-checkbox__span {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
    margin-bottom: 1px;
  }
}