.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10vh 30px;
  box-sizing: border-box;
}
@media screen and (max-width:768px) {
  .login {
    padding: 22vh 30px;
  }
}
@media screen and (max-width:320px) {
  .login {
    padding: 7vh 30px 4vh;
  }
}
