.main__title {
  font-weight: 400;
  max-width: 1140px;
  width: 100%;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.88px;
  margin: 110px auto 0;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

.main__title_section_techs {
  margin: 100px auto 0;
}

@media screen and (max-width:768px) {
  .main__title {
    margin-top: 90px;
  }
}

@media screen and (max-width:320px) {
  .main__title {
    margin-top: 70px;
    max-width: 284px;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
  .main__title_section_about-me {
    max-width: 292px;
  }
}