.nav-tab {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  min-height: 66px;
  align-items: center;
}

.nav-tab__navigation {
  display: contents;
}

.nav-tab__links {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-tab__item {
  display: contents;
}

.nav-tab__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  border-bottom: 1px solid black;
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-in-out;
}

.nav-tab__link:hover {
  opacity: 0.7;
}

.nav-tab__link_last {
  margin-right: 0;
}

.nav-tab__link:visited {
  color: black;
}

@media screen and (max-width:320px) {
  .nav-tab__link {
    font-size: 11px;
    margin-right: 24px;
    height: 15px;
  }

  .nav-tab__link_last {
    margin-right: 0;
  }
}